fastapi==0.115.8
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic==2.10.6
httpx==0.28.1
openai==1.63.2

SQLAlchemy==2.0.38
alembic==1.14.1
python-multipart==0.0.9
pillow==10.4.0
pytesseract==0.3.13
